 @font-face {
     font-family: 'Oswald';
     font-style: normal;
     font-weight: normal;
     src: url('Oswald-Regular.ttf');
 }

 h1.overlay {
     font-size: 20pt;
     padding-top: 45px;
     font-family: 'Oswald', sans-serif !important;
 }

 h4.overlay {
     font-size: 16pt;
     padding-top: 10px;
     font-family: 'Oswald', sans-serif !important;
 }

 .button {
   padding: 10px 15px;
   display: block;
   font-weight: bold;
   font-family: 'Oswald';
   text-align: center;
   text-decoration: none;
   width: 30%;
   border: none;
   border-radius: 5px;
   color: white;
   background-color: tomato;
   margin: 0 auto;
 }

 .button:hover {
   text-decoration: none;
   background-color: #b21409;
 }
