
@font-face {
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

html {
    width: 300px;
    height: 400px;
}

body {
    background-color: #f1f1f1; /* OFF WHITE */
    text-align: justify;
    font-family: "Open Sans Condensed";
    font-size: 20px;
    font-weight: bold;
    margin: 0 2rem;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Anton";
    font-size: 40px;
}

.button {
    display: block;
    margin: auto;
    font-family: "Anton";
    color: black;
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 75%;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6347; /* RED */
    transition: all 0.3s ease 0s;
}

.button:hover {
    background: #b21409;
}

#url {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

form {
    align-items: center;
}
/*button:focus {   MAKES IT CHANGE WHEN CLICKED, NOT NICE
    transform: translateY(3px);
    border-bottom: 3px solid #b21409;
}*/
